.mainModal{
    font-size: 30px;
    color: rgb(0, 0, 0);
    background: violet;
    position: fixed;
        right: 5px;
        top: 80%;
        width:347px;
        height:160px;  
        display: block;  
}